include inc/mixins
doctype
html(lang='en')
  head
    include inc/styles
    title Categories
  body
    +header('Categories')
    .searchbox.mt-3.d-flex.container
      .back-shop-btn #[i.fa-solid.fa-arrow-left]
      input(type='search',placeholder='Search')
      div(data-bs-toggle="collapse" href="#options" role="button") #[i(class='fa-solid fa-filter')]
    .container
      +options-container
      .category-selectors
        .select-category-option.fw-bold All
        .select-category-option
          img(src='imgs/cats/mobile.svg' class='img-fluid')
        .select-category-option
          img(src='imgs/cats/labtop.svg' class='img-fluid')
        .select-category-option
          img(src='imgs/cats/pc.svg' class='img-fluid')
        .select-category-option
          img(src='imgs/icons/watch.svg' class='img-fluid')
      div.d-flex.justify-content-between.mt-5
        h3 All Products
        span #[a.nav-link Sort by]
      div.mt-5
      include inc/catpageItems

      div.text-center #[.btn.main-btn Load More]

    include inc/navigator
    include inc/scripts