include inc/mixins
doctype
html(lang='en')
  head
    include inc/styles
    title Orders
  body
    +header('Orders')
    .container.pt-5.pb-5
      +order-box('p-1.png','Completed')      
      +order-box('p-2.png','Canceled')      
    include inc/navigator
    include inc/scripts