mixin header(head)
  .header.ps-1.pe-1
    .container
      .row.align-items-center
        div.col-2.right
          .sett #[i(class="fa-solid fa-cubes-stacked")]
          .settings
            .head.d-flex.justify-content-between
              h2 Shops-ac
              div.closeSettings #[i(class='fa-solid fa-arrow-left')]
            ul.list-unstyled
              li #[a(href='index.html').nav-link Home]
              li #[a(href='../catPage.html').nav-link Categories]
              li #[a(href='../shop.html').nav-link Shop]
              li #[a(href='../chat.html').nav-link Contact us]
            .footer
              p Designed By &copy; Mohamed ElSayed - 2022
              div
                a(href='#') #[i(class='fa-brands fa-facebook')]
                a(href='#') #[i(class='fa-brands fa-twitter')]
                a(href='#') #[i(class='fa-brands fa-github')]
                a(href='#') #[i(class='fa-brands fa-instagram')]
          .overlay
        div.col-md-8.col-6.text-center #{head}
        div.col-md-2.col-4.left
          .cart #[i(class="fa-solid fa-cart-shopping" data-count=5)] 
          .user #[i(class="fa-solid fa-user")]


mixin order-box(img,status)
  .card.mb-3
    .row.g-0.align-items-center
      .col-4
        img(src='imgs/products/'+img class='img-fluid')
      .col-8
        .card-body
          .card-text.fw-bold Product Name
          .card-text.text-muted Electronics
          .card-text.fw-bold $999.00
          .closeBtn #[i.fa-solid.fa-xmark]
          .order-status.text-end #{status}


mixin wish-box(img)
  .card.mb-3
    .row.g-0.align-items-center
      .col-4
        img(src='imgs/products/'+img class='img-fluid')
      .col-8
        .card-body
          .card-text.fw-bold Product Name
          .card-text.text-muted Electronics
          .card-text.fw-bold $999.00
          .heartBtn #[i.fa-solid.fa-heart]
          div.text-end #[.btn.main-btn Add To Cart]

mixin category-box(img , name)
  .cat-box(onclick='goToShop();')
    .img-box
      img(src='/imgs/cats/'+img  class='img-fluid')
    .detail-box
      p #{name}


mixin product-box(img)
  .productBox(onclick='getProduct()')
    .card
      img(src='imgs/products/'+img height='200' class='card-img-top')
      .card-body
        .card-text
          p(style={'color' : 'gold','font-size':'16px'})
            i(class= "fa-solid fa-star")
            i(class= "fa-solid fa-star")
            i(class= "fa-solid fa-star")
            i(class= "fa-solid fa-star")
            i(class= "fa-regular fa-star")
        .card-text.fw-bold Product
        .card-text #[b $100.00]
        .product-options
          div #[i(class="fa-solid fa-cart-shopping")]
          div #[i(class="fa-solid fa-heart")]


mixin options-container
  .options.mt-3(class="collapse" id="options")
    h5 price
    .bar
      span
        span
        span
    .sizeOptions.d-flex.mt-4
      div Size
      div.sOp.active S
      div.sOp M
      div.sOp L
      div.sOp XL
      div.sOp XXL
    .color-options.d-flex.mt-4
      div Color
      .colors
        span.active.color-option(data-color='#23add2',style={'background-color':'#23add2'})
        span.color-option(data-color='#ff4639',style={'background-color':'#ff4639'})
        span.color-option(data-color='#7030e3',style={'background-color':'#7030e3'})
        span.color-option(data-color='#fb5230',style={'background-color':'#fb5230'})
    .brand-options
      h5 Brand
      ul.list-unstyled.d-flex
        li #[a.nav-link HasThemes]
        li #[a.nav-link HasTech]
        li #[a.nav-link Bootxprets]
        li #[a.nav-link Codecarnival]
    .buttons
      .btn.apply APPLY
      .btn.cancel CANCEL