.navigator
  .nav-home #[i.fa-solid.fa-home]
  .nav-wish #[i.fa-solid.fa-heart]
  .nav-cart #[i.fa-solid.fa-cart-shopping]
  .nav-orders #[i.fa-solid.fa-van-shuttle]
  .nav-chat #[i.fa-solid.fa-message]
